useDynLib(iBST, .registration=TRUE)
import(survival , rpart , parallel)
importFrom(Rcpp, evalCpp)
importFrom("stats", "as.formula", "glm", "ks.test", "pnorm", "rnorm",
             "runif", "sd")
exportPattern("^[[:alpha:]]+")
